<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- LEFT -->
      <div class="navbar-left d-flex align-items-center">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- CENTER -->
      <div class="navbar-center mx-auto">
        <form class="d-flex navbar-search">
          <input
            class="form-control me-2 search-input"
            type="search"
            name="q"
            placeholder="Search destination"
          />
          <button class="btn btn-outline-danger search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> 
            <span class="search-text">Search</span>
          </button>
        </form>
      </div>

      <!-- RIGHT -->
      <div class="navbar-right d-flex align-items-center gap-3">
        <a class="nav-link" href="/listings/new">Add New Listing</a>

        <% if(!currUser) { %>
        <a class="nav-link" href="/signup"><b>Signup</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout">LogOut</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
