
/* new page styling */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* edit page */
.btns-edit{
    background-color: #007bff; /* नीला रंग */
  border-color: #007bff;
  color: #fff;
}
.btns-edit:hover{
    background-color: #0056b3; /* डार्क नीला */
  border-color: #0056b3;
}
/* show page */
.show-img{
    height: 30vh;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
/* map style */
 #map {
     height: 400px;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
      }


